* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

.fondo {
    background-color: #f5eaea;
}
                                                        /* MENU */
.menu {
    background-color: rgb(253, 241, 238); 
}

.logo {
    margin-left: 30px;
}

.navbar-light .navbar-nav .nav-link {
    color: #c32859;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #ff5e91;
    transition: .2s;
}

.nav-link {
    font-weight: bold;
    font-size: 1em;
    margin: 10px;
    color: #c32859;
}

.changuito2 {
  display: none;
  color: #c32859;
}

.changuito2:hover {
    color: #ff5e91;
    transition: .2s;
}
                                                /* BIENVENIDA */
.bienvenida {
    background-color: rgb(228, 225, 224); 
    border-radius: 15px;
    padding: 3%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    line-height: 2;
    margin: 10px auto 0;   
    width: 95%;
}

.bienvenida__titulo {
    font-size: 2rem;
    margin-top: 20px;
}

.bienvenida__texto {
    margin: 20px;
    font-size: 1.1rem;
}

.bienvenida__boton {
    background-color: #e899a2;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
    border: 1.5px solid #c07780;
    transition: all 0.2;
    text-decoration: none;
}

.bienvenida__boton:hover {
    background-color: #dc7984;
    color: #fff;
}

.bienvenida__img {
    border-radius: 15px;
}
                                                  /* SERVICIO */
.aviso{
    background-color: rgb(231, 214, 190); 
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    margin: 15px 7px;
    border-radius: 10px;
}

.aviso__img {
    width: 50px;
}

.aviso__titulo {
    text-align: center;
    font-weight: bold;
}

.aviso p  {
    text-align: center;
}

.aviso1 {
    display: none;
}

                                         /* MUESTRA DE PORDUCTO */
.pre2 {
    display: none;
}

.mues {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    gap: 8%;
    width: 100%;
}
                                                /* PIE DE PÁGINA */

.pie {
    background-color: rgb(252, 240, 239);
    text-align: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    line-height: 30px; 
}

.footer__contacto h3 {
    font-size: 1.3rem;
    font-weight: bold;
}

.footer__hora {
    margin-top: 30px ;
    line-height: 1rem; 
} 

.footer__redes {
    margin-bottom: 17px;
    font-size: 1.3rem;
    font-weight: bold;
}

.footer__redes--img {
    display: flex;
    justify-content: space-evenly;
}

.footer__mapa h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 10px;
}
.redes {
    width: 40px;
}

.logo__final {
    width: 80px;
    margin-bottom: 30px;
}

.derecho_reservado {              
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin: 0;
}


/********     PRODUCTOS       ************/
.titulo_producto {
        text-align: center;
        margin: 70px;
        font-size: 3rem;
}

.conte {
    box-shadow: 0 10px  20px rgba(0, 0, 0, 0.1);
    border: 1px solid rgb(237, 232, 232);
    border-radius: 10px;
    width: 260px;              /*16rem  h 31rem  valor Ancho del (padre)(seria del contenedor)    */
    height: 500px; 
    display: flex;
    flex-direction: column;
    align-items: center;       /* es para q alinie a sus elemntos internos de acuerdo a sus ejes secundarios (el eje primario seria el Vertical, el eje secundario es Horizontal)     */                 
    justify-content: space-evenly;
}

.conte:hover {
    background-color: #fff7f7be;
    transform: scale(1.05) ;
    transition: all 0.3s;
}

.conte__img {
    width: 85%;        /* ocupa todo el ancho/espacio del (padre) */
    line-height: 25px;
    margin: 20px;
    border-bottom: 1px solid rgb(231, 225, 225);
}

.conte__titulo {
    margin-bottom: 8px;
    text-align: center;
}

.descrip {
    text-align: center;
    line-height: 1.5rem;
    margin-bottom: 15px;
    width: 95%;
    font-size: 14px;
}

.valor {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.boton__compra {
    text-align: center;
    background-color: rgb(201, 91, 115);
    padding: 4px 14px;
    color: #fff;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    border: 1.5px solid rgb(188, 62, 89);
    transition: all 0.2;
    text-decoration: none;
    margin-bottom: 40px;
}

.boton__compra:hover {
    background-color: rgb(192, 52, 83);
    color: #fff;
}

.vermas {
    display: block;
    width: 140px;           /* para q no sea un bloque */
    background-color: #e899a2;
    padding: 3px;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border: 1.5px solid #c07780;
    margin: 30px auto  60px;
    transition: all 0.2;
    text-decoration: none;
}

.vermas:hover {
    background-color: #dc7984;
    color: #fff;
}

/*********   PREGUNTAS FRECUENTES     ***********/
main .prg {
    padding: 0px 5% ;
    line-height: 2;
}

.preg_fre {
    text-align: center;
    margin: 60px auto;
}

.prg .p {
    margin-bottom: 40px;
}


/*******    SOBRE NOSOTROS     *************/

.sobremi {
    background-color: rgb(250, 248, 239); 
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 20px auto ;   
    width: 95%;
}

.sobremi__titulo  {
    font-size: 2rem;
}

.sobremi__texto {
    margin: 35px;    
    padding-bottom: 35px;
    font-size: 1rem;
    line-height: 2;
}

.fecha {
    padding-top: 10px;
    font-size: 1px;
    color: #9c858a;
    font-size: 14px;
    margin: 20px 0 0 ;
}

.sobremi__img {
    border-radius: 15px;
}

/**********     CONTACTO    **********/
.formulario {
  width: 50%;
  margin: auto;
}
.contacto__titulo {
    text-align: center;
    margin: 50px 0px 30px;
    font-weight: 600;
    font-size: 30px;
}

label{
    text-align: start;
    margin: 10px;
}

form {
    background-color: white;
    border-radius: 7px;
    font-size: 1em;           /* letra dentro del input */
    padding:20px 15px;
    margin: 3% auto;
    /* width: 50%;   */
}

input, textarea { 
    outline: none;        /* quita el borde del input*/
    margin: 2%;  
    width: 95%;      /*  ancho del inputs y boton*/
}

.campo {
    border: 1px solid  #ccc;
    padding: 10px;
    border-radius: 10px;
}

.campo:focus {           /*  cuando el mousse esta arriba cambia el color*/
    border-color: #de4d7b;
}

.center-content {
    text-align: center;
}

.boton_contact {
    font-weight: bold;
    color: #fff;
    background-color: #dc8096;
    border: 1px solid #cc5077  ;
    padding: 10px;
    border-radius: 10px;
}

.boton_contact:hover {
    background-color: #c32859;
}

.boton_contact:active {
    background-color: #c07780;
}
.mapa {
    display: none;
}

/************************************************************************************/

                                        /*          RESPONSIVE       */


@Media screen and (max-width: 945px) {
                        /*        INDEX          */
    .aviso {
        display: none;
    }

    .aviso1 {
        display: block;
    }
}

@Media screen and (max-width: 991px) {
    .changuito2 {
      display: block;
    }
    .changuito {
      display: none;
    }
}

@Media screen and (max-width: 770px) {
                                     /* Bienvenida */
        .bienvenida {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
                
        .bienvenida__titulo {
            font-size: 1.5rem;
        }
                
        .bienvenida__texto {
            font-size: 16px;
        }
                
        .bienvenida__img {
            border-radius: 15px;
            width:100%;
        }

        .titulo_producto {
            font-size: 2.5rem;
            margin: auto;
            padding: 40px;
    }
                                /*       SOBRE MI       */
         .sobremi {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
                
        .sobremi__titulo {
            font-size: 1.5rem;
            padding-bottom: 4%;
        }
                
        .sobremi__texto {
            margin: 0;
            font-size: 16px;
        }

        .fecha {
            padding-top: 5%;
        }
                
        .sobremi__img {
            border-radius: 15px;
            width:100%;       
        }
                               /*        CONTACTO          */
        .formulario{
            width: 90%;
        }

@Media screen and (max-width: 600px) {
                            /* Bienvenida */
        .bienvenida {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }
        
        .bienvenida__titulo {
            font-size: 1.5rem;
        }
        
        .bienvenida__texto {
            font-size: 16px;
        }
        
        .bienvenida__img {
            border-radius: 15px;
            width:100%;
        }
                             /* Footer */
        .footer__mapa {
            display: none;
        }
   
        .footer__redes {
            margin: 20px;
        }
        .footer__redes--img {
            display: flex;
            justify-content: space-evenly;
        }
                                /*        CONTACTO          */
        .mapa {
            display: block;
            margin:30px auto;
            text-align: center;
        }
                                /*       PRODUCTOS          */
        .pre {
            display: none;
        }
        .pre2 {
            display: block;
        }
        .conte {
            margin: 50px auto;
        }
    }
}