main {
    margin-bottom: 90px;
}

.contacto__titulo {
    text-align: center;
    margin: 50px 0px 30px;
    font-weight: 600;
}

.formulario {
    max-width: 600px;
    margin: 0 auto 50px;
    box-shadow: 0 10px  20px rgba(0, 0, 0, 0.1);
    padding: 25px;
  }

form {
    background-color: $colorWhite;
    border-radius: 7px;
    padding:20px 15px;
}

.form-control:focus {           /*    cuando el mousse esta arriba cambia el color*/
    border-color: $colorBorder;
}

.boton_contact {
    font-weight: bold;
    color: $colorWhite;
    background-color: $colorBorder;
    padding: 8px;
    border-radius: 10px;
    width: 50%;
    margin: 15px 25% 0;

    &:hover {
        background-color: $colorSecondary;
        color: $colorWhite;
    }
}

.mapa {
     display: block;
     margin:30px auto;
     text-align: center;
 }

@media screen and (max-width: 770px) {
    .formulario{
        width: 90%;
    }
}