* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa';
}

.fondo {
    background-color: #f5eaea;
}
                                                        /* MENU */
.menu {
    background-color: rgb(253, 241, 238); 
}

.logo {
    margin-left: 30px;
    transition: all .5s;
        &:hover {
            transform: $transformacion;
        }
}

.navbar-light .navbar-nav .nav-link {
    color: $colorPrimary;
    padding:1.2rem 0 0 0 ;
        &:hover {
            color: $colorSecondary;
            transition: .2s;
        }
}

.nav-link {
    margin: 10px;
    color: $colorPrimary;
    @extend .fuentes
}

.changuito2 {
  display: none;
  color: $colorPrimary;
  animation: rubberBand 1s;
        &:hover {
            color: $colorSecondary;
            transition: .2s;
            animation: bounceOutRight  3s;
        }
}

.material-icons{
    margin:-10px 2px;
    animation: rubberBand 1s;
        &:hover{
            animation: rubberBand 1s;
            animation: bounceOutRight 3s;
        }
}
                                                /* PIE DE PÃGINA */
.footer{
    background-color: rgb(252, 240, 239);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding: 25px 0 20px;
    border-radius: 10px;
    line-height: 30px; 

        &__pre p {
            margin:0 10px 15px;
        }
        &__nav >h3,
        &__contacto >h3 {
            @extend .fuentes;
        }

        &__hora >h3 {
            @extend .fuentes;
        } 
        &__hora >p{
            line-height: .8rem; 
        }
        
        &__redes {
            display: flex;
            justify-content: center;
            margin: 1rem;
        }
}

.logo__final {
    width: 70px;
    margin-bottom: 1rem;
    transition: all .5s;
        &:hover {
            transform: $transformacion;
        }
}

.redes {
    width: 25px;
    transition: all 0.4s ;
    margin: 0  7px;
        &:hover {
            transform: scale(2) ;
            transform: translateY(-8px) scale(1.1);
        }
}

.nav-item {
    line-height: .6rem;
}

.nav-link:hover {
    color: $colorSecondary;
    transition: .2s;
}

.derecho_reservado{              
    background-color: $colorBlack;
    font-size: .9rem;
    color: $colorWhite;
    text-align: center;
    padding: 5px;
    margin: 0;
}

.fuentes {          // @extend 
    font-size: 1rem;
    font-weight: bold;
}

@mixin contenedor ($Display) {         //  @mixin
    display: $Display;
    align-items: center;
    justify-content: space-evenly;
}

/***************************************          RESPONSIVE      ***********************/

@media screen and (max-width: 991px) {
    .changuito2 {
       display: block;
    }
    
    .changuito {
       display: none;
    }
}







    
