.sobremi {
    background-color: rgb(250, 248, 239); 
    border-radius: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: 20px auto;   
    width: 95%;

        &__titulo  {
            font-size: 2rem;
        }
        &__texto {
            margin: 7%;    
            padding-bottom: 35px;
            font-size: 1rem;
            line-height: 2;
        }
        &__img {
            border-radius: 15px;
            height: 100%;
        }
}

.fecha {
    padding-top: 10px;
    color: #9c858a;
    font-size: 14px;
    margin: 20px 0 0 ;
}

/****************************************         RESPONSIVE       ***************************/

@media screen and (max-width: 770px) {
    .sobremi {
    @include contenedor (flex);
    flex-wrap: wrap;

        &__titulo {
            font-size: 1.5rem;
        }   
        &__img {
            border-radius: 15px;
            width:100%;       
        }    
    }

    .fecha {
        padding-top: 5%;
    }   
}